.modal-open .show {
    display: block;
}

.modal-open .modal .modal-dialog {
    max-width: 600px;
}

.modal-open .modal .modal-dialog .modal-content {
    border-radius: 0px;
}

.modal-open .modal .modal-dialog .modal-content .modal-header {
    background-color: #343a40;
    border-radius: 0px;
    color: #eee;
}

.modal-open .modal .modal-dialog .modal-content .quotes {
    font-weight: bold;
    margin-bottom: 10px;
}

.modal-open .modal .modal-dialog .modal-footer .btn {
    width: 70px;
}