.add-form {
    background-color: #e0e0e0;
    padding: 5px 15px;
}

.add-form .btn i {
    margin-left: 5px;
}

.add-form .label {
    font-weight: bold;
}

.add-form .form-control {
    display: inline-block;
    width: 75px;
    margin: 0px 10px;
    height: 32px;
}

.add-form .error-msg {
    display: inline-block;
    color: red;
    font-style: italic;
    margin-left: 10px;
    margin-right: 10px;
}

.add-form .action-toolbar {
    padding-top: 0px;
}

.add-form .action-toolbar .btn i {
    margin-left: 5px;
}

.add-form .action-toolbar button:first-child {
    margin-right: 10px;
}