.overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.overlay .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.overlay .content .text {
    font-weight: bold;
    color: red;
    font-size: 14px;
    text-align: center;
    background-color: #ada9a9;
    padding: 10px;
}

.overlay .content .text i {
    color: yellow;
    margin-right: 5px;
}

.overlay .content .text .btn {
    margin-top: 5px;
    font-weight: bold;
}