.quote-details {
    border-bottom: 1px solid #c7c1c1;
    padding: 5px 0px;
    height: 62px;
}

.quote-details .no-selection-msg {
    padding-top: 13px;
    color: #8c8b8b;
    text-align: center;
}

.quote-details .increase {
    color: green;
}

.quote-details .decrease {
    color: red;
}

.quote-details .quote-label {
    font-weight: bold;
    color: gray;
    padding: 10px 0px 0px 0px;
    border-right: 1px solid;
    height: 90%;
    text-align: center;
}

.quote-details .quote-name {
    font-weight: bold;
    font-size: 18px;
}

.quote-details .quote-exchange {
    font-style: italic;
    color: #8c8b8b;
    font-size: 13px;
}

.quote-details .quote-price {
    font-weight: bold;
    font-size: 30px;
}

.quote-details .quote-change-label,
.quote-details .quote-range-label {
    text-align: center;
    color: #8c8b8b;
    font-weight: bold;
}

.quote-details .quote-change {
    display: inline-block;
    width: 50%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.quote-details .quote-change .fas {
    margin-right: 3px;
}

.quote-details .quote-range-values {
    font-weight: bold;
    text-align: center;
}

.quote-details .quote-range-values .separator {
    margin: 0px 3px;
}

.quote-details .quote-last-trade {
    font-size: 14px;
    color: #8c8b8b;
    padding-top: 5px;
}

.quote-details .quote-last-trade .label,
.quote-details .quote-last-trade .date,
.quote-details .quote-last-trade .time {
    margin: 0px 3px;
}